@model CRUD_Clientes_CRMALL.ViewModel.ClienteViewModel

@{
    ViewBag.Title = "Novo Cliente";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h5>Cadastrar Cliente</h5>
<hr>

@using (Html.BeginForm("Novo", "Cliente", FormMethod.Post))
{
    <div ng-app="ClienteApp" ng-controller="ClienteController" data-ng-init="model = @Newtonsoft.Json.JsonConvert.SerializeObject(Model)">

        <div class="alert alert-danger" role="alert" ng-show="hasErrors">
            <ul>
                <div ng-repeat="erro in errors">
                    <li> {{erro}} </li>
                </div>
            </ul>
        </div>

        @Html.HiddenFor(m => m.Id)

        <i>Dados Pessoais</i> <br>

        @Html.DisplayNameFor(m => m.Nome) <br>
        @Html.EditorFor(m => m.Nome, new { htmlAttributes = new { ng_model = "model.Nome" } }) <br>

        @Html.DisplayNameFor(m => m.DataNascimento) <br>
        @Html.EditorFor(m => m.DataNascimento, new { htmlAttributes = new { ng_model = "model.DataNascimento" } }) <br>

        @Html.DisplayNameFor(m => m.Sexo) <br>
        @Html.EnumDropDownListFor(m => m.Sexo, new { ng_model = "model.Sexo" }) <br> <br>
        
        <i>Endereço</i> <br>

        @Html.DisplayNameFor(m => m.Endereco.Cep) <br>
        @Html.EditorFor(m => m.Endereco.Cep, new { htmlAttributes = new { ng_model = "model.Endereco.Cep", type="number" } })
        <button type="button" ng-click="buscaCep()">Buscar CEP</button><br>

        @Html.DisplayNameFor(m => m.Endereco.Logradouro) <br>
        @Html.EditorFor(m => m.Endereco.Logradouro, new { htmlAttributes = new { ng_model = "model.Endereco.Logradouro" } }) <br>

        @Html.DisplayNameFor(m => m.Endereco.Numero) <br>
        @Html.EditorFor(m => m.Endereco.Numero, new { htmlAttributes = new { ng_model = "model.Endereco.Numero" } }) <br>

        @Html.DisplayNameFor(m => m.Endereco.Bairro) <br>
        @Html.EditorFor(m => m.Endereco.Bairro, new { htmlAttributes = new { ng_model = "model.Endereco.Bairro" } }) <br>

        @Html.DisplayNameFor(m => m.Endereco.Complemento) <br>
        @Html.EditorFor(m => m.Endereco.Complemento, new { htmlAttributes = new { ng_model = "model.Endereco.Complemento" } }) <br>

        @Html.DisplayNameFor(m => m.Endereco.Estado) <br>
        @Html.EnumDropDownListFor(m => m.Endereco.Estado, new { ng_model = "model.Endereco.Estado" }) <br>

        @Html.DisplayNameFor(m => m.Endereco.Cidade) <br>
        @Html.EditorFor(m => m.Endereco.Cidade, new { htmlAttributes = new { ng_model = "model.Endereco.Cidade" } }) <br>
        <br>

        <button type="button" ng-click="validaCamposObrigatorio()">Salvar</button>
    </div>
}



